- title link_to(@page.title.blank? ? @page.title_was : @page.title, '#', rel: 'page_title', title: t('.ask_for_title'), class: 'editable')

- content_for :submenu do
  = render 'locomotive/shared/menu/contents'

- content_for :actions do
  = render 'locomotive/shared/actions/contents'

- content_for :buttons do
  = local_action_button :show, "/#{current_site.localized_page_fullpath(@page, current_content_locale)}", class: 'show', icon: 'icon-eye-open'

%p!= t('.help')

.edit-page-form
  = semantic_form_for @page, url: page_path(@page), method: :put, html: { multipart: true } do |form|

    = render 'form', f: form

    #local-actions-bottom-bar
      .span-12
        %p
          = link_to escape_once('&larr;&nbsp; Back without saving'), pages_path
          &nbsp;

      .span-12.last
        %p.actions
          = submit_tag "Preview", :'data-disable-with' => "Pending...", :'data-sending-form-message' => "Your form is being submitted", data: { path: new_page_previews_path(@page) }
          = submit_tag "Save", :'data-disable-with' => "Pending...", :'data-sending-form-message' => "Your form is being submitted", data: { path: page_path(@page) }

      .clear