- title "Edit User's Page Access"

- content_for :submenu do
  = render_cell 'locomotive/settings_menu', :show

= form_for @membership do |f|
  - @membership.site.pages.each do |page|
    = check_box_tag "pages[]", page.id, (:checked if @membership.pages.include?(page.id.to_s))
    = label_tag page.title
    %br
  = render 'locomotive/shared/form_actions', back_url: edit_current_site_path, button_label: :update
